<div class="card">
  <div class="card__media">
    <a href="{{ card_url }}"><img src="{{ card_image.src }}" alt="{{ card_image.alt }}"></a>
  </div>
  <div class="card__body">
    <div class="card__date">{{ card_date }}</div>
    <h3 class="card__heading"><a href="{{ card_url }}">{{ card_heading }}</a></h3>
    <div class="card__teaser">{{ card_teaser }}</div>
  </div>
</div>
